@model Lyfr.Models.Cliente
@{
    ViewData["Title"] = "Conta";
    Layout = "~/Views/Shared/_Layout_Browse.cshtml";
}

<div class="fundo-browse big-padding-top padding-bottom">
    <div class="container container-conta">
        <div class="row height-100">
            <div class="col-md-3 col-12 side-menu">
                <div class="menu-conta" id="visao-geral">
                    <p>Visão Geral</p>
                </div>
                <div class="menu-conta" id="editar-perfil">
                    <p>Editar perfil</p>
                </div>
                <div class="menu-conta" id="editar-senha">
                    <p>Editar senha</p>
                </div>
                <div class="menu-conta" id="historico">
                    <p>Histórico</p>
                </div>
                <div class="menu-conta" id="sugestao">
                    <p>Sugestão</p>
                </div>
            </div>
            <div class="col-md-9 col-12 side-content">
                <div id="conta-visao-geral">
                    @if (ViewBag.Erro != null)
                    {
                        <h1 class="text-center big-padding-top big-padding-bottom text-white margin-0">@ViewBag.Erro</h1>
                    }
                    else
                    {
                        <p class="text-center text-white text-title text-padding">@User.Claims.ToList()[0].Value</p>
                        <div class="row no-margin">
                            <div class="col-6">
                                <p class="text-right text-white padding-right text-medium">E-mail:</p>
                            </div>
                            <div class="col-6">
                                <p class="text-left text-white text-medium">@User.Claims.ToList()[2].Value</p>
                            </div>

                            <div class="col-6">
                                <p class="text-right text-white padding-right text-medium">CPF:</p>
                            </div>
                            <div class="col-6">
                                <p class="text-left text-white text-medium">@User.Claims.ToList()[1].Value</p>
                            </div>
                        </div>
                    }

                </div>
                <div id="conta-editar-perfil">
                    <p class="text-center text-white text-title text-padding">Editar Dados</p>
                    <form method="post" action="/Home/Conta">
                        <input class="input-style text-white width-90 center" type="hidden" id="Senha" name="Senha" value="@User.Claims.ToList()[4].Value" />
                        <input class="input-style text-white width-90 center" type="hidden" id="ConfSenha" name="ConfSenha" value="@User.Claims.ToList()[4].Value" />
                        <input class="input-style text-white width-90 center" type="hidden" id="Cpf" name="Cpf" value="@User.Claims.ToList()[1].Value" />
                        <input class="input-style text-white width-90 center" type="hidden" id="IdCliente" name="IdCliente" value="@User.Claims.ToList()[3].Value" />
                        <br />
                        <input class="input-style text-white width-90 center" type="text" id="Nome" name="Nome" placeholder="Nome Completo" value="@User.Claims.ToList()[0].Value" />
                        <span asp-validation-for="Nome" class="text-danger" style="margin:auto; display:table;"></span>
                        <br />
                        <input class="input-style text-white width-90 center" type="email" id="Email" name="Email" placeholder="Email" value="@User.Claims.ToList()[2].Value" />
                        <span asp-validation-for="Email" class="text-danger" style="margin:auto; display:table;"></span>
                        <br />

                        <br />
                        @if (ViewBag.Erro != null)
                        {
                            <div class="alert alert-danger" role="alert" style="margin:10px;">
                                @ViewBag.Erro
                            </div>
                        }

                        @if (ViewBag.Sucesso != null)
                        {
                            <div class="alert alert-success" role="alert" style="margin:10px;">
                                @(ViewBag.Sucesso + " Faça login novamente!")
                            </div>
                            <script>
                                $(document).ready(function () {
                                    setTimeout(Logout, 2500);
                                });

                            </script>
                        }
                        <input type="submit" class="entry_dark" value="Editar" />
                    </form>
                </div>
                <div id="conta-editar-senha">
                    <p class="text-center text-white text-title text-padding">Editar Senha</p>
                    <br />
                    <input class="input-style width-90 center text-white" type="password" id="SenhaAntiga" name="Senha" placeholder="Senha antiga" />
                    <br />
                    <input class="input-style width-90 center text-white hidden" type="password" id="SenhaNova" name="Senha" placeholder="Senha nova" />
                    <br />
                    <input class="input-style width-90 center text-white hidden" type="password" id="SenhaConf" name="Senha" placeholder="Confirmar senha" />
                    <br />
                    <input type="submit" class="entry_dark hidden" id="btn-alterar-senha" value="Alterar" />
                    <div class="lds-dual-ring" id="load-trocar-senha"></div>
                    <div class="alert alert-success alert-div" role="alert" style="margin:10px;" id="mensagem-trocar-senha-sucesso-div">
                        <p class="mensagem" id="mensagem-trocar-senha-sucesso" style="margin:0;"></p>
                    </div>
                    <div class="alert alert-danger alert-div" role="alert" style="margin:10px;" id="mensagem-trocar-senha-erro-div">
                        <p class="mensagem" id="mensagem-trocar-senha-erro" style="margin:0;"></p>
                    </div>
                </div>
                <div id="conta-historico" style="overflow-y:scroll">
                    <p class="text-center text-white text-title text-padding">Histórico</p>

                    <div class="row no-margin">
                        @if (ViewBag.Historico != null)
                        {
                            @foreach (var item in ViewBag.Historico)
                            {
                                <div class="col-5">
                                    <p class="text-right text-white padding-right text-medium">@item.DataLeitura</p>
                                </div>
                                <div class="col-7">
                                    <p class="text-left text-white text-medium">- @item.NomeLivro</p>
                                </div>
                            }
                        }
                        else
                        {
                            <p class="center text-white text-medium">Não há livros no histórico!</p>
                        }


                    </div>
                </div>
                <div id="conta-sugestao">
                    <p class="text-center text-white text-title text-padding">Mande uma sugestão <br />ou reclamação para gente!</p>
                    <br />
                    <textarea class="input-style width-90 center" id="Mensagem" name="Mensagem" placeholder="Digite aqui..."></textarea>
                    <br />
                    <input type="button" class="entry_dark" value="Enviar" id="Enviar-Sugestao" />
                    <div class="lds-dual-ring" id="load-sugestao"></div>
                    <div class="alert alert-success alert-div" role="alert" style="margin:10px;" id="mensagem-sugestao-sucesso-div">
                        <p class="mensagem" id="mensagem-sugestao-sucesso" style="margin:0;"></p>
                    </div>
                    <div class="alert alert-danger alert-div" role="alert" style="margin:10px;" id="mensagem-sugestao-erro-div">
                        <p class="mensagem" id="mensagem-sugestao-erro" style="margin:0;"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (ViewData.ModelState.ErrorCount > 0 || ViewBag.Erro != null || ViewBag.Sucesso != null)
{
    <script>
        $(document).ready(function () {
            editarPerfil.click();
        });
    </script>
}

