@model Lyfr.Models.Cliente
@{
    ViewData["Title"] = "Esqueci_Senha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid background">
    <div class="container fundo-inicial">
        <div class="row">
            <div class="col-md-7 col-12">
                <div class="form_side ">
                    @if (ViewBag.Sucesso != null)
                    {
                        <h2 style="text-align:center; padding-top:120px; color:white;">
                            @ViewBag.Sucesso
                         </h2>
                    }
                    else
                    {
                <div id="div-email">
                    <h2 class="TituloPage"> Informe seu e-mail <br />para redefinirmos sua senha </h2>
                    <hr class="line-index fixed-width" />
                    <br />
                    <div class="load-white" id="load-email"></div>
                    <input class="input-style input-login" type="text" id="Email" name="Email" placeholder="Email" />
                    <input type="button" class="entry_submit space-submit" value="Redefinir" id="btn_mandar_cod" style="cursor:pointer" />
                    <div class="alert alert-danger alert-div" role="alert" style="margin:10px;" id="div-mensagem-email">
                        <p class="mensagem" id="mensagem-email" style="margin:0;"></p>
                    </div>
                </div>
                <div id="div-cod">
                    <h2 class="TituloPage"> Digite o código enviado no seu e-mail </h2>
                    <hr class="line-index fixed-width" />
                    <div class="lds-dual-ring" id="load-cod"></div>
                    <br />
                    <input class="input-style input-login" type="text" id="Codigo" name="Codigo" placeholder="Codigo" />
                    <div class="alert alert-danger alert-div" role="alert" style="margin:10px;" id="div-mensagem-cod">
                        <p class="mensagem" id="mensagem-cod" style="margin:0;"></p>
                    </div>
                </div>
                        <div id="div-redefinir">
                            <h2 class="TituloPage"> Redefina sua senha </h2>
                            <hr class="line-index fixed-width" />
                            <br />
                            <form asp-action="Esqueci_Senha" method="post">
                                <input class="input-style input-login" type="hidden" id="EmailSenha" name="Email" value="@(ViewBag.Cliente == null ? "" : ViewBag.Cliente.Email)" />
                                <input class="input-style input-login" type="password" id="Senha" name="Senha" placeholder="Senha nova" value="@(ViewBag.Cliente == null ? "" : ViewBag.Cliente.Senha)" />
                                <span asp-validation-for="Senha" class="text-danger" id="erro-senha" style="margin:auto; display:table;"></span>
                                <input class="input-style input-login" type="password" id="ConfSenha" name="ConfSenha" placeholder="Confirmar Senha" value="@(ViewBag.Cliente == null ? "" : ViewBag.Cliente.ConfSenha)" />
                                <span asp-validation-for="ConfSenha" class="text-danger" id="erro-conf-senha" style="margin:auto; display:table;"></span>
                                <input type="submit" class="entry_submit space-submit" value="Redefinir" />
                                @if (ViewBag.Erro != null)
                                {
                                    <div class="alert alert-danger alert-div" role="alert" style="margin:10px;">
                                        <p class="mensagem" style="margin:0;">@ViewBag.Erro</p>
                                    </div>

                                    <script>
                                        $(document).ready(function () {
                                            GoToPasswordDiv();
                                        });
                                    </script>
                                }

                            </form>
                        </div>
                    }

                </div>
            </div>
            <div class="col-md-5 col-12">
                <div class="image_side">

                </div>
            </div>
        </div>
    </div>
</div>
