
@{
    ViewData["Title"] = "Browse";
    Layout = "~/Views/Shared/_Layout_Browse.cshtml";
}

<div class="fundo-browse">
    <div class="container-apresentation">
        <h2 class="title-livro-destaque">A Arte da Guerra</h2>
        <button value="Arte da Guerra" class="btn-ler-destaque box-livro">Saber mais</button>
    </div>
    <div class="container-fluid container-categ">

        @if (ViewBag.Erro != null)
        {
            <h1 class="text-center big-padding-top big-padding-bottom text-white margin-0">@ViewBag.Erro</h1>
        }

        @if (ViewBag.ErroLivros != null)
        {
            <h1 class="text-center big-padding-top big-padding-bottom text-white margin-0">@ViewBag.ErroLivros</h1>
        }

        @if (ViewBag.ErroLivros == null && ViewBag.Erro == null)
        {
            <div class="container-fluid container-categ">
                <h4>Novidades da Semana</h4>
                <div class="container-livros">
                    @foreach (var item in ViewBag.UltimosLivros)
                    {
                        <div class="box-livro" value="@(item.Titulo)" style="background-image: url('@item.Capa');"></div>
                    }
                </div>
            </div>
            <div class="container-fluid container-categ">
                <h4>Minha lista</h4>
                <div class="container-livros" id="favoritos">
                    @if (ViewBag.Favoritos.Count > 0)
                    {
                        @foreach (var item in ViewBag.Favoritos)
                        {
                            <div class="box-livro" value="@(item.Titulo)" style="background-image: url('@item.Capa');"></div>
                        }
                        

                    }
                    else
                    {
                        <h3 class="text-center padding-top text-white margin-0">Não há livros na sua lista!</h3>
                    }
                </div>
            </div>
            <div class="container-fluid container-categ">
                <h4>Clássico</h4>
                <div class="container-livros">
                    @foreach (var item in ViewBag.Classico)
                    {
                        <div class="box-livro" value="@(item.Titulo)" style="background-image: url('@item.Capa');"></div>
                    }
                </div>
            </div>
            <div class="container-fluid container-categ">
                <h4>Contos</h4>
                <div class="container-livros">
                    @foreach (var item in ViewBag.Contos)
                    {
                        <div class="box-livro" value="@(item.Titulo)" style="background-image: url('@item.Capa');"></div>
                    }
                </div>
            </div>
            <div class="container-fluid container-categ">
                <h4>Drama</h4>
                <div class="container-livros">
                    @foreach (var item in ViewBag.Drama)
                    {
                        <div class="box-livro" value="@(item.Titulo)" style="background-image: url('@item.Capa');"></div>
                    }
                </div>
            </div>
            <div class="container-fluid container-categ">
                <h4>Aventura</h4>
                <div class="container-livros">
                    @foreach (var item in ViewBag.Aventura)
                    {
                        <div class="box-livro" value="@(item.Titulo)" style="background-image: url('@item.Capa');"></div>
                    }
                </div>
            </div>
        }
    </div>
</div>