
@{
    ViewData["Title"] = "Genero";
    Layout = "~/Views/Shared/_Layout_Browse.cshtml";
}

    <div class="fundo-browse">
        <div class="container-apresentation fundo-genero" style="background-image: url('@ViewBag.Genero.Foto');">
            <h2 class="title-livro-destaque">@ViewBag.Genero.Nome</h2>
        </div>


        @if (ViewBag.LivrosGenero.Count > 0)
        {
            <div class="container-fluid container-categ container-flex">

                @foreach (var item in ViewBag.LivrosGenero)
                {
                    <div class="box-livro box-livro-responsive" value="@(item.Titulo)" style="background-image: url('@item.Capa');"></div>
                }
            </div>
        }
        else
        {
            <h1 class="text-center big-padding-top big-padding-bottom text-white margin-0">Não há livros nessa categoria!</h1>
        }

        @if (ViewBag.Erro != null)
        {
            <h1 class="text-center big-padding-top big-padding-bottom text-white margin-0">@ViewBag.Erro</h1>
        }

        @if (ViewBag.ErroLivros != null)
        {
            <h1 class="text-center big-padding-top big-padding-bottom text-white margin-0">@ViewBag.ErroLivros</h1>
        }


    </div>


