@model List<Lyfr_Admin.Models.Entities.Livros>
@{
    ViewData["Title"] = "Livros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="background-display-order" onclick="Dropdown()"></div>
<div class="black-background-painel">
    <center>
        <div class="itens-load">
            <div class="load">
            </div>
            <br>
            <p id="loadingDots">Carregando requisição...</p>
        </div>
    </center>
</div>
<div class="container">
    <div class="div-title-mobile">
        <h2 class="title-table">@ViewBag.Titulo</h2>
    </div>

    <div class="menu-options">
        <div class="btn-style btn-adicionar" onclick="document.location.href='/Home/AdicionarLivros'">
            <p>Adicionar</p>
        </div>
    </div>

    <div class="table-options options-editable">

        <div class="options-list div-form-pesquisar">
            <form asp-controller="Home" asp-action="Livros" method="post" id="form-pesquisar" name="form-pesquisar">
                <input type="text" placeholder="Pesquisar livros..." name="Titulo" id="Pesquisa" />
                <img src="~/img/search.png" id="Enviar" />
            </form>
        </div>
        <div class="options-list div-title">
            <h2 class="title-table">Livros</h2>
        </div>
        <div class="options-list order-content">
            <div class="order-div">
                <h4>Ordenar por: </h4>
                <div class="order-items" onclick="Dropdown()">
                    <p>@ViewBag.Ordenacao</p>
                </div>
                <div class="items-dropdown">
                    <br>
                    <p class="item-menu-p" onclick="window.location.href = '/Home/Livros/?idOrdenacao=0'; ShowLoad()">Crescente</p>
                    <p class="item-menu-p" onclick="window.location.href = '/Home/Livros/?idOrdenacao=1'; ShowLoad()">Decrescente</p>
                    <p class="item-menu-p" onclick="window.location.href = '/Home/Livros/?idOrdenacao=2'; ShowLoad()">Nome</p>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive-md div-table div-table-style">
        <table class="table table-striped table-livros table-hover table-dark table-bordered table-style">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Capa</th>
                    <th scope="col">Título</th>
                    <th scope="col">Ano de Lançamento</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Editora</th>
                    <th scope="col">Gênero</th>
                </tr>
            </thead>
            <tbody>

                @if (Model != null)
                {
                    if (Model.Count > 0)
                    {
                        for (int i = 0; i < Model.Count; i++)
                        {
                            <tr onclick="window.location.href='/Home/DetLivros/@Model[i].Titulo'">
                                <th scope="row">@Model[i].IdLivro</th>
                                <td><img src="@Model[i].Capa" id="cover-book" /></td>
                                <td>@Model[i].Titulo</td>
                                <td>@Model[i].Ano_Lanc</td>
                                <td>@Model[i].Autor.Nome</td>
                                <td>@Model[i].Editora.Nome</td>
                                <td>@Model[i].Genero</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7">Nenhum livro cadastrado ainda.</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7">Erro ao se comunicar com a base de dados.</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

